<%- include('partials/header')  %>
<main class="mt-5 " >
    <h2 class="pt-5 mb-5">Cadastro da coordenação</h2>
    <div class="card p-3">
        <form action="" method="post">
            <div class="input-group mb-3">
                <input type="text" class="form-control" id="cadastro_siape" placeholder="Digite seu SIAPE" aria-label="Recipient's username" aria-describedby="basic-addon2" required>  
            </div>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Email" aria-label="Recipient's username" aria-describedby="basic-addon2" required>
                <span class="input-group-text" id="basic-addon2">@ifpa.edu.br</span>
            </div>
            <div class="input-group mb-3">
                <input type="password" class="form-control" placeholder="Senha" aria-label="Recipient's username" aria-describedby="basic-addon2" required>
            </div>
            <div class="input-group mb-3">
                <input type="password" class="form-control" placeholder="Confirmar senha" aria-label="Recipient's username" aria-describedby="basic-addon2" required>
            </div>
            <button type="submit" class="btn btn-green">Cadastrar</button>
        </form>
    </div>
</main>
<%- include('partials/footer')  %>