<%- include('partials/header')  %>
<main class="mt-5">
    <h2 class="pt-5">Login</h2>
    <div class="card mt-5 rounded-4">
        <form action="" class="p-5">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Digite seu login" aria-label="Recipient's username" aria-describedby="basic-addon2">
                <span class="input-group-text" id="basic-addon2">@ifpa.edu.br</span>
            </div>
            <input type="password" placeholder="Senha" class="form-control" >
        </form>
    </div>

</main>
<%- include('partials/footer')  %>