<%- include('partials/header')  %>
<main class="mt-5" >
    <div class="modalities">
        <h2 class="pt-5 mb-5">Acompanhe os jogos de seu Campi</h2>
        <ul class="modalities__block gap-5">
            <li>
                <a href="" class="card p-2 ">
                    <i class="fa-solid fa-volleyball"></i>
                    <div class="card-body">
                        <h5 class="card-title">Volei</h5>
                    </div>
                </a>
            </li>
            <li>
                <a href="" class="card p-2">
                    <i class="fa-solid fa-volleyball"></i>
                    <div class="card-body">
                        <h5 class="card-title">Volei</h5>
                    </div>
                </a>
            </li>
            <li>
                <a href="" class="card p-2">
                    <i class="fa-solid fa-volleyball"></i>
                    <div class="card-body">
                        <h5 class="card-title">Volei</h5>
                    </div>
                </a>
            </li>
            <li>
                <a href="" class="card p-2">
                    <i class="fa-solid fa-volleyball"></i>
                    <div class="card-body">
                        <h5 class="card-title">Volei</h5>
                    </div>
                </a>
            </li>
            <li>
                <a href="" class="card p-2">
                    <i class="fa-solid fa-volleyball"></i>
                    <div class="card-body">
                        <h5 class="card-title">Volei</h5>
                    </div>
                </a>
            </li>
            <li>
                <a href="" class="card p-2">
                    <i class="fa-solid fa-volleyball"></i>
                    <div class="card-body">
                        <h5 class="card-title">Volei</h5>
                    </div>
                </a>
            </li>
            <li>
                <a href="" class="card p-2">
                    <i class="fa-solid fa-volleyball"></i>
                    <div class="card-body">
                        <h5 class="card-title">Volei</h5>
                    </div>
                </a>
            </li>
            
            
        </ul>
    </div>
    <div class="inscricao_atletas">

    </div>
</main>
<%- include('partials/footer')  %>