<%- include('partials/header')  %>
    <main class="mt-5">
        <h2 class="pt-5">O que é o JIFs, etapa estadual?</h2>
        <p class="pt-3">
            Os Jogos dos Institutuos Federais (JIF) 
            Etapa estadual configuram-se em um conjunto
            de atividades esportivas e culturais que buscam estimular
            o convívio solidário entre alunos e servidores, a integração 
            entre os campi, a promoção e a valorização da Educação e do Esporte 
            na formação integral do estudante, além de:
        </p>

    </main>
<%- include('partials/footer')  %>